bin/
obj/
out/
publish/
wwwroot/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/
*.code-workspace

*.log
logs/
Log/
*.txt

ScaffoldingReadMe.txt

Migrations/*

appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json